<h1>BIENVENIDOS A LA CLINICA  </h1>
<br>
 <%= link_to "Registrar Usuario", '/users/new', :method => :get %>
 <br>
 <%= link_to "Registrar Analisis", '/analises/new', :method => :get %>
 <br>
 <%= link_to "Registrar Valores", '/valors/new', :method => :get %>
</br>
